
@{
    ViewBag.Title = "Upload";
}

<main class="flex-shrink-0">
    <div class="container">

        <h1>Upload Base de données de sortie</h1>
        <div id="upload_text" class="panel panel-default">
            <div class="panel-heading">Upload base de données .MDF finale (stockée à /Imports/FinalDatabase.txt)</div>
            <div class="panel-body">

                <div class="alert alert-info">Si vous avez le fichier FinalDatabase.mdf, vous pouvez l'importer ici. Sinon, il faut créer la base sous le même nom en utilisant le schéma de table présenté sur la page Panel. Il s'agit de la base cible qui va recevoir toutes les données.</div>

                @using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        @Html.TextBox("file", "", new { type = "file" }) <br />
                        <input type="hidden" value="database" name="datasourceType" />
                        <input type="submit" value="Upload" />
                        @ViewBag.UploadTargetMessage
                    </div>
                }

            </div>
        </div>

        <br />
        <h1>Uploads sources de données d'entrée</h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div id="upload_text" class="panel panel-default">
                    <div class="panel-heading">Upload Datasource Texte (stockée à /Imports/DatasourceTxt.txt)</div>
                    <div class="panel-body">

                        @using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div>
                                @Html.TextBox("file", "", new { type = "file" }) <br />
                                <input type="hidden" value="txt" name="datasourceType" />
                                <input type="submit" value="Upload" />
                                @ViewBag.UploadTxtMessage
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div id="upload_sql" class="panel panel-default">
                    <div class="panel-heading">Upload Datasource SQL (stockée à /Imports/DatasourceSQL.mdf)</div>
                    <div class="panel-body">

                        @using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div>
                                @Html.TextBox("file", "", new { type = "file" }) <br />
                                <input type="hidden" value="sql" name="datasourceType" />
                                <input type="submit" value="Upload" />
                                @ViewBag.UploadSqlMessage
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">

                <div id="upload_json" class="panel panel-default">
                    <div class="panel-heading">Upload Datasource JSON (stockée à /Imports/DatasourceJson.json)</div>
                    <div class="panel-body">

                        @using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div>
                                @Html.TextBox("file", "", new { type = "file" }) <br />
                                <input type="hidden" value="json" name="datasourceType" />
                                <input type="submit" value="Upload" />
                                @ViewBag.UploadJsonMessage
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div id="upload_xml" class="panel panel-default">
                    <div class="panel-heading">Upload Datasource XML (stockée à /Imports/DatasourceXml.xml)</div>
                    <div class="panel-body">

                        @using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div>
                                @Html.TextBox("file", "", new { type = "file" }) <br />
                                <input type="hidden" value="xml" name="datasourceType" />
                                <input type="submit" value="Upload" />
                                @ViewBag.UploadXmlMessage
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
