@{
    ViewBag.Title = "Panel";
}

<h3>@ViewBag.Message</h3>

<main class="flex-shrink-0">
    <div class="container" style="padding-top: 50px">
        <div class="row align-items-start full-height">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Types de données supportés</div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Texte</a></li>
                            <li><a href="#">SQL</a></li>
                            <li><a href="#">JSON</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 pull-right">
                <div id="text" class="panel panel-default">
                    <div class="panel-heading">Contenu de la base de données</div>
                    <div class="panel-body">
                        <div class="well">
                            <table>
                                <tr>
                                    <th class="col-md-4">Brand</th>
                                    <th class="col-md-4">Model</th>
                                    <th class="col-md-4">Registration</th>
                                </tr>

                                @{
                                    if (ViewBag.Target != null)
                                    {
                                        foreach (var item in ViewBag.Target)
                                        {
                                            <tr>
                                                <td class="col-md-4">@item.Brand</td>
                                                <td class="col-md-4">@item.Model</td>
                                                <td class="col-md-4">@item.Registration</td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </div>

                        @{ if (ViewBag.Sql.Count == 0 || ViewBag.Text.Count == 0)
                            {
                                <div class="alert alert-warning" role="alert">Au moins une base source n'est pas uploadée</div>
                            }
                            else if (ViewBag.Target == null)
                            {
                                <div class="alert alert-warning" role="alert">
                                    La base FinalDatabase.mdf n'est pas dans le dossier App_Data du projet ! Créez la sur Visual Studio 2017 ou importez la:
<span style="white-space: pre-wrap">

CREATE TABLE [dbo].[Vehicule] (
    [Id]           INT           IDENTITY (1, 1) NOT NULL,
    [Brand]        NVARCHAR (50) NULL,
    [Model]        NVARCHAR (50) NULL,
    [Registration] NVARCHAR (50) NULL,
    PRIMARY KEY CLUSTERED ([Id] ASC)
);
</span></div>

                            }
                            else
                            {
                                @Html.ActionLink("Supprimer le contenu de la base", "DeleteDatabaseContent", new { }, new { @class = "btn btn-default" })
                                @Html.ActionLink("Convertir toutes les datasources et remplir la base", "FillDatabaseContent", new { }, new { @class = "btn btn-default" })
                                @Html.ActionLink("Télécharger le .mdf", "Download", new { name = "FinalDatabase.mdf", type = "application/sql", downloadName = "Target.mdf" }, new { @class = "btn btn-default" })
                            }
                        }



                    </div>
                </div>
            </div>
            <div class="col-md-9 pull-right">
                <hr />
                <h1>Convertisseur unitaire</h1>
                <div id="text" class="panel panel-default">
                    <div class="panel-heading">Datasource txt</div>
                    <div class="panel-body">
                        <div class="well">
                            <table>
                                <tr>
                                    <th class="col-md-4">Brand</th>
                                    <th class="col-md-4">Model</th>
                                    <th class="col-md-4">Registration</th>
                                </tr>

                                @foreach (var item in ViewBag.Text)
                                {
                                    <tr>

                                        <td class="col-md-4">@item.Brand</td>
                                        <td class="col-md-4">@item.Model</td>
                                        <td class="col-md-4">@item.Registration</td>


                                    </tr>

                                }
                            </table>
                        </div>

                        @{if (ViewBag.Text.Count == 0)
                            {
                            <div class="alert alert-warning" role="alert">Veuillez uploader le fichier <a href="/Upload/UploadFile">DatasourceTxt.txt</a></div>
                            }
                            else
                            {

                        @Html.ActionLink("Télécharger", "Download", new { name = "DatasourceTxt.txt", type = "application/txt", downloadName = "TEST.txt" }, new { @class = "btn btn-default" })

                        <hr />

                        @Html.ActionLink("Convertir en XML et Télécharger", "ConvertFileFromTxt", new { name = "DatasourceTxt.txt", sourceType = "application/txt", newType = "application/xml", downloadName = "txtToXml.xml" }, new { @class = "btn btn-default" })

                        @Html.ActionLink("Convertir en JSON et Télécharger", "ConvertFileFromTxt", new { name = "DatasourceTxt.txt", sourceType = "application/txt", newType = "application/json", downloadName = "txtToJson.json" }, new { @class = "btn btn-default" })

                        @Html.ActionLink("Convertir en CSV et Télécharger", "ConvertFileFromTxt", new { name = "DatasourceTxt.txt", sourceType = "application/txt", newType = "application/csv", downloadName = "txtToCsv.csv" }, new { @class = "btn btn-default" })
                            }}

                    </div>
                </div>
            </div>

            <div class="col-md-9 pull-right">
                <div id="text" class="panel panel-default">
                    <div class="panel-heading">Datasource SQL</div>
                    <div class="panel-body">
                        <div class="well">
                            <table>
                                <tr>
                                    <th class="col-md-4">Brand</th>
                                    <th class="col-md-4">Model</th>
                                    <th class="col-md-4">Registration</th>
                                </tr>

                                @foreach (var item in ViewBag.Sql)
                                {
                                    <tr>
                                        <td class="col-md-4">@item.Brand</td>
                                        <td class="col-md-4">@item.Model</td>
                                        <td class="col-md-4">@item.Registration</td>
                                    </tr>

                                }
                            </table>
                        </div>

                            @{ if (ViewBag.Sql.Count == 0)
                                {
                                <div class="alert alert-warning" role="alert">Veuillez uploader le fichier <a href="/Upload/UploadFile">DatasourceSQL.mdf</a></div>
                                }
                                else
                                {

                                @Html.ActionLink("Télécharger", "Download", new { name = "DatasourceSQL.mdf", type = "application/sql", downloadName = "TEST.mdf" }, new { @class = "btn btn-default" })

                                <hr />

                                @Html.ActionLink("Convertir en XML et Télécharger", "ConvertFileFromMdf", new { name = "DatasourceSQL.mdf", sourceType = "application/sql", newType = "application/xml", downloadName = "mdfToXml.xml" }, new { @class = "btn btn-default" })

                                @Html.ActionLink("Convertir en JSON et Télécharger", "ConvertFileFromMdf", new { name = "DatasourceSQL.mdf", sourceType = "application/sql", newType = "application/json", downloadName = "mdfToJson.json" }, new { @class = "btn btn-default" })

                                @Html.ActionLink("Convertir en CSV et Télécharger", "ConvertFileFromMdf", new { name = "DatasourceSQL.mdf", sourceType = "application/sql", newType = "application/csv", downloadName = "mdfToCsv.csv" }, new { @class = "btn btn-default" })

                                } }

                            </div>
                </div>
            </div>

            <div class="col-md-9 pull-right">
                <div id="text" class="panel panel-default">
                    <div class="panel-heading">Datasource JSON</div>
                    <div class="panel-body">

                        <div class="well">
                            <table>
                                <tr>
                                    <th class="col-md-4">Brand</th>
                                    <th class="col-md-4">Model</th>
                                    <th class="col-md-4">Registration</th>
                                </tr>

                                @foreach (var item in ViewBag.Json)
                                {
                                    <tr>
                                        <td class="col-md-4">@item.Brand</td>
                                        <td class="col-md-4">@item.Model</td>
                                        <td class="col-md-4">@item.Registration</td>
                                    </tr>

                                }
                            </table>
                        </div>

                        @{ if (ViewBag.Json.Count == 0)
                            {
                                <div class="alert alert-warning" role="alert">Veuillez uploader le fichier <a href="/Upload/UploadFile">DatasourceJson.json</a></div>
                            }
                            else
                            {

                                @Html.ActionLink("Télécharger", "Download", new { name = "DatasourceJson.json", type = "application/json", downloadName = "DatasourceJson.json" }, new { @class = "btn btn-default disabled" })

                                <hr />

                                @Html.ActionLink("Convertir en XML et Télécharger", "ConvertFileFromJson", new { name = "DatasourceTxt.txt", sourceType = "application/txt", newType = "application/xml", downloadName = "JsonToXml.xml" }, new { @class = "btn btn-default disabled" })

                                @Html.ActionLink("Convertir en JSON et Télécharger", "ConvertFileFromJson", new { name = "DatasourceTxt.txt", sourceType = "application/txt", newType = "application/json", downloadName = "JsonToJson.json" }, new { @class = "btn btn-default disabled" })

                                @Html.ActionLink("Convertir en CSV et Télécharger", "ConvertFileFromJson", new { name = "DatasourceTxt.txt", sourceType = "application/txt", newType = "application/csv", downloadName = "JsonToCsv.csv" }, new { @class = "btn btn-default disabled" })

                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<script>

    $(function () {
        $("#test").click(function () {
            $.ajax({
                type: "GET",
                url: "/Home/getContent",
                data: '{name : "json"}',
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }

            })

        })
    })


</script>