@{
    ViewBag.Title = "Panel";
}

<main class="flex-shrink-0">
    <div class="container">
        <h1>Base de données de sortie</h1>
        <div class="row align-items-start full-height">
            <div id="text" class="panel panel-default">
                <div class="panel-heading">Contenu de la base de données</div>
                <div class="panel-body">
                    <div class="well">
                        <table>
                            <tr>
                                <th class="col-md-4">Brand</th>
                                <th class="col-md-4">Model</th>
                                <th class="col-md-4">Registration</th>
                            </tr>

                            @{
                                if (ViewBag.Target != null)
                                {
                                    foreach (var item in ViewBag.Target)
                                    {
                                        <tr>
                                            <td class="col-md-4">@item.Brand</td>
                                            <td class="col-md-4">@item.Model</td>
                                            <td class="col-md-4">@item.Registration</td>
                                        </tr>
                                    }
                                }
                            }
                        </table>
                    </div>

                    @{ if (ViewBag.Sql.Count == 0 || ViewBag.Text.Count == 0 || ViewBag.Xml.Count == 0 || ViewBag.Json.Count == 0)
                        {
                            <div class="alert alert-warning" role="alert">Au moins une base source n'est pas uploadée</div>
                            if (ViewBag.Target == null)
                            {
                                <div class="alert alert-warning" role="alert">
                                    La base FinalDatabase.mdf n'est pas dans le dossier App_Data du projet ! Créez la sur Visual Studio 2017 ou importez la:
                                    <span style="white-space: pre-wrap">

                                        CREATE TABLE [dbo].[Vehicule] (
                                        [Id]           INT           IDENTITY (1, 1) NOT NULL,
                                        [Brand]        NVARCHAR (50) NULL,
                                        [Model]        NVARCHAR (50) NULL,
                                        [Registration] NVARCHAR (50) NULL,
                                        PRIMARY KEY CLUSTERED ([Id] ASC)
                                        );
                                    </span>
                                </div>

                            }
                        }
                        else
                        {
                            @Html.ActionLink("Supprimer le contenu de la base", "DeleteDatabaseContent", new { }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Convertir toutes les datasources et remplir la base", "FillDatabaseContent", new { }, new { @class = "btn btn-default" })

                            <hr />

                            @Html.ActionLink("Télécharger", "Download", new { name = "FinalDatabase.mdf", type = "application/octet-stream", downloadName = "FinalDatabase.mdf" }, new { @class = "btn btn-default" })

                            <hr />

                            @Html.ActionLink("Convertir en XML et Télécharger", "ConvertFile", new { sourceName = "FinalDatabase.mdf", sourceType = "database", newType = "application/xml", downloadName = "database.xml" }, new { @class = "btn btn-default" })

                            @Html.ActionLink("Convertir en JSON et Télécharger", "ConvertFile", new { sourceName = "FinalDatabase.mdf", sourceType = "database", newType = "application/json", downloadName = "database.json" }, new { @class = "btn btn-default" })

                            @Html.ActionLink("Convertir en CSV et Télécharger", "ConvertFile", new { sourceName = "FinalDatabase.mdf", sourceType = "database", newType = "application/csv", downloadName = "database.csv" }, new { @class = "btn btn-default" })

                        }
                    }



                </div>
            </div>
        </div>

        <hr />
        <h1>Sources de données d'entrée</h1>
        <div class="row">
            <div class="col-md-6">
                <div id="text" class="panel panel-default">
                    <div class="panel-heading">Datasource Texte (/App_Data/DatasourceTxt.txt)</div>
                    <div class="panel-body">
                        <div class="well">
                            <table>
                                <tr>
                                    <th class="col-md-4">Brand</th>
                                    <th class="col-md-4">Model</th>
                                    <th class="col-md-4">Registration</th>
                                </tr>

                                @foreach (var item in ViewBag.Text)
                                {
                                    <tr>

                                        <td class="col-md-4">@item.Brand</td>
                                        <td class="col-md-4">@item.Model</td>
                                        <td class="col-md-4">@item.Registration</td>


                                    </tr>

                                }
                            </table>
                        </div>

                        @{if (ViewBag.Text.Count == 0)
                            {
                                <div class="alert alert-warning" role="alert">Veuillez uploader le fichier <a href="/Upload/UploadFile">DatasourceTxt.txt</a></div>
                            }
                            else
                            {

                                @Html.ActionLink("Télécharger", "Download", new { name = "DatasourceTxt.txt", type = "application/txt", downloadName = "DatasourceTxt.txt" }, new { @class = "btn btn-default" })

                                <hr />

                                @Html.ActionLink("Convertir en XML et Télécharger", "ConvertFile", new { sourceName = "DatasourceTxt.txt", sourceType = "txt", newType = "application/xml", downloadName = "txt.xml" }, new { @class = "btn btn-default" })
                                <br />
                                <br />
                                @Html.ActionLink("Convertir en JSON et Télécharger", "ConvertFile", new { sourceName = "DatasourceTxt.txt", sourceType = "txt", newType = "application/json", downloadName = "txt.json" }, new { @class = "btn btn-default" })
                                <br />
                                <br />
                                @Html.ActionLink("Convertir en CSV et Télécharger", "ConvertFile", new { sourceName = "DatasourceTxt.txt", sourceType = "txt", newType = "application/csv", downloadName = "txt.csv" }, new { @class = "btn btn-default" })
                            }}

                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div id="text" class="panel panel-default">
                    <div class="panel-heading">Datasource SQL (/App_Data/DatasourceSQL.mdf)</div>
                    <div class="panel-body">
                        <div class="well">
                            <table>
                                <tr>
                                    <th class="col-md-4">Brand</th>
                                    <th class="col-md-4">Model</th>
                                    <th class="col-md-4">Registration</th>
                                </tr>

                                @foreach (var item in ViewBag.Sql)
                                {
                                    <tr>
                                        <td class="col-md-4">@item.Brand</td>
                                        <td class="col-md-4">@item.Model</td>
                                        <td class="col-md-4">@item.Registration</td>
                                    </tr>

                                }
                            </table>
                        </div>

                        @{ if (ViewBag.Sql.Count == 0)
                            {
                                <div class="alert alert-warning" role="alert">Veuillez uploader le fichier <a href="/Upload/UploadFile">DatasourceSQL.mdf</a></div>
                            }
                            else
                            {

                                @Html.ActionLink("Télécharger", "Download", new { name = "DatasourceSQL.mdf", type = "application/octet-stream", downloadName = "DatasourceSQL.mdf" }, new { @class = "btn btn-default" })

                                <hr />

                                @Html.ActionLink("Convertir en XML et Télécharger", "ConvertFile", new { sourceName = "DatasourceSQL.mdf", sourceType = "mdf", newType = "application/xml", downloadName = "mdf.xml" }, new { @class = "btn btn-default" })
                                <br />
                                <br />
                                @Html.ActionLink("Convertir en JSON et Télécharger", "ConvertFile", new { sourceName = "DatasourceSQL.mdf", sourceType = "mdf", newType = "application/json", downloadName = "mdf.json" }, new { @class = "btn btn-default" })
                                <br />
                                <br />
                                @Html.ActionLink("Convertir en CSV et Télécharger", "ConvertFile", new { sourceName = "DatasourceSQL.mdf", sourceType = "mdf", newType = "application/csv", downloadName = "mdf.csv" }, new { @class = "btn btn-default" })

                            } }

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="text" class="panel panel-default">
                    <div class="panel-heading">Datasource JSON (/App_Data/DatasourceJson.json)</div>
                    <div class="panel-body">

                        <div class="well">
                            <table>
                                <tr>
                                    <th class="col-md-4">Brand</th>
                                    <th class="col-md-4">Model</th>
                                    <th class="col-md-4">Registration</th>
                                </tr>

                                @foreach (var item in ViewBag.Json)
                                {
                                    <tr>
                                        <td class="col-md-4">@item.Brand</td>
                                        <td class="col-md-4">@item.Model</td>
                                        <td class="col-md-4">@item.Registration</td>
                                    </tr>

                                }
                            </table>
                        </div>

                        @{ if (ViewBag.Json.Count == 0)
                            {
                                <div class="alert alert-warning" role="alert">Veuillez uploader le fichier <a href="/Upload/UploadFile">DatasourceJson.json</a></div>
                            }
                            else
                            {

                                @Html.ActionLink("Télécharger", "Download", new { name = "DatasourceJson.json", type = "application/json", downloadName = "DatasourceJson.json" }, new { @class = "btn btn-default" })

                                <hr />

                                @Html.ActionLink("Convertir en XML et Télécharger", "ConvertFile", new { sourceName = "DatasourceJson.json", sourceType = "json", newType = "application/xml", downloadName = "json.xml" }, new { @class = "btn btn-default" })
                                <br />
                                <br />
                                @Html.ActionLink("Convertir en JSON et Télécharger", "ConvertFile", new { sourceName = "DatasourceJson.json", sourceType = "json", newType = "application/json", downloadName = "json.json" }, new { @class = "btn btn-default" })
                                <br />
                                <br />
                                @Html.ActionLink("Convertir en CSV et Télécharger", "ConvertFile", new { sourceName = "DatasourceJson.json", sourceType = "json", newType = "application/csv", downloadName = "json.csv" }, new { @class = "btn btn-default" })

                            } }
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="text" class="panel panel-default">
                    <div class="panel-heading">Datasource XML (/App_Data/DatasourceXml.xml)</div>
                    <div class="panel-body">

                        <div class="well">
                            <table>
                                <tr>
                                    <th class="col-md-4">Brand</th>
                                    <th class="col-md-4">Model</th>
                                    <th class="col-md-4">Registration</th>
                                </tr>

                                @foreach (var item in ViewBag.Xml)
                                {
                                    <tr>
                                        <td class="col-md-4">@item.Brand</td>
                                        <td class="col-md-4">@item.Model</td>
                                        <td class="col-md-4">@item.Registration</td>
                                    </tr>

                                }
                            </table>
                        </div>

                        @{ if (ViewBag.Xml.Count == 0)
                            {
                                <div class="alert alert-warning" role="alert">Veuillez uploader le fichier <a href="/Upload/UploadFile">DatasourceXml.xml</a></div>
                            }
                            else
                            {

                                @Html.ActionLink("Télécharger", "Download", new { name = "XmlDatasource.xml", type = "application/xml", downloadName = "DatasourceXml.xml" }, new { @class = "btn btn-default" })

                                <hr />

                                @Html.ActionLink("Convertir en XML et Télécharger", "ConvertFile", new { sourceName = "DatasourceXml.xml", sourceType = "xml", newType = "application/xml", downloadName = "xml.xml" }, new { @class = "btn btn-default" })
                                <br />
                                <br />
                                @Html.ActionLink("Convertir en JSON et Télécharger", "ConvertFile", new { sourceName = "DatasourceXml.xml", sourceType = "xml", newType = "application/json", downloadName = "xml.json" }, new { @class = "btn btn-default" })
                                <br />
                                <br />
                                @Html.ActionLink("Convertir en CSV et Télécharger", "ConvertFile", new { sourceName = "DatasourceXml.xml", sourceType = "xml", newType = "application/csv", downloadName = "xml.csv" }, new { @class = "btn btn-default" })

                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>