@{
    ViewBag.Title = "Vehicules";
}

<h2>@ViewBag.Message</h2>

<p>
    @*Html.ActionLink("Create New", "Create")*@
</p>

<table class="table">
    <tr>
        <th>Vehicule</th>
    </tr>

    
@foreach (var item in ViewBag.Vehicules) {
    <tr>
        <td>

            @item.Brand @item.Model (@item.Registration)

            @*Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

@ViewBag.testXml

</table>
