@{
    ViewBag.Title = "Vehicules";
}

<h2>@ViewBag.Message</h2>

<p>
    @*Html.ActionLink("Create New", "Create")*@
</p>


<table class="table">
    <tr>
        <th>Vehicules</th>
    </tr>

    @if (ViewBag.Vehicules.Count == 0)
    {
        <div class="alert alert-success" role="alert">Veuillez remplir la base de données pour pouvoir afficher des annonces (Panel > Convertir toutes les datasources et remplir la base)</div>
    }


    @foreach (var item in ViewBag.Vehicules)
    {
        <tr>
            <td>

                @item.Brand @item.Model (@item.Registration)

                @*Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>

@ViewBag.testXml

